{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}

{% block footer %}
<hr>
<p>
<small>
    font: <a href="http://madmalik.github.io/mononoki/">mononoki</a> by madmalik 
    <br>
    avatar: <a href="https://picrew.me/en/image_maker/137904">lullindo's picrew</a>
    <br>
    <a href="https://github.com/Jasper-Ty/website">website source</a>
    <br>
    <a href="https://github.com/Jasper-Ty/dotfiles">dotfiles</a>
</small>
</p>
{% endblock footer %}
